---
import Layout from '../layouts/Layout.astro'
import Index from "../text/index.json"
const title = "Blog"
---

<Layout title={title}>
    <h2>Here’s a free life lesson: seek out situations where you’re a favorite; avoid those where you’re an underdog.</h2>
    <p>- Maria Konnikova</p>
</Layout>
