---

import { Content as AboutText } from '../text/about.md'
import Project from '../components/Projects.astro'
import Layout from '../layouts/Layout.astro'
import { projects  } from "../text/index.json"
let title = "Home"
---

<Layout title={title}>
	<div>
		<AboutText/>
	</div>

	<div>
		<h1>Projects</h1>
		{projects.map((project: object)=> <Project project={project}/>)}
	</div>
</Layout >
